@import url(./fonts/fonts.css);
@import url(./reset.css);

@media screen and (min-width:1457px){
    %Montserrat{
        font-family: 'Montserrat';
        font-style: normal;
    }
    %Roboto{
        font-family: 'Roboto';
        font-style: normal;
    }

    .body{
        width: 1440px;
        margin: 0 auto;
    }
    .header{
        width: 1440px;
        height: 700px;
        background-image: url(/images/HeaderBackground.png);
        @extend %Montserrat;
        color: #fefefe;
        position: relative;
        .dreamShare{
            position: absolute;
            top: 48px;
            left: 248px;
            text-transform: uppercase;
            font-weight: 700;
            font-size: 20px;
        }
        .logIn{
            position: absolute;
            top: 53px;
            right: 400px;
            font-weight: 400;
            font-size: 14px;
        }
        .signUp{
            width: 84px;
            height: 32px;
            border-radius: 40px;
            border: 2px solid white;
            display: flex;
            justify-content: center;
            line-height: 33px;
            position: absolute;
            top: 40px;
            right: 292px;
            font-weight: 400;
            font-size: 14px;
        }
        &__text1{
            text-align: center;
            @extend %Montserrat;
            font-weight: 700;
            font-size: 50px;
            line-height: 63px;
            letter-spacing: 2.2px;
            position: absolute;
            top: 223px;
            left: 485px;
        }
        &__text2{
            text-align: center;
            @extend %Roboto;
            font-weight: 300;
            font-size: 24px;
            line-height: 24px;
            position: absolute;
            top: 377px;
            left: 523px;
            word-spacing: 2px;
        }
        .findPartner{
            width: 225px;
            height: 40px;
            background: #FF4E50;
            border-radius: 40px;
            display: flex;
            justify-content: center;
            line-height: 40px;
            position: absolute;
            left: 608px;
            top: 436px;
            @extend %Montserrat;
            font-weight: 700;
            font-size: 14px;
            letter-spacing: 0.3px;
            border: 0px;
            color: #fefefe;
        }
    }

    .main{
        width: 1440px;
        height: 2400px;
        .dreamWork-container{
            width: 940px;
            height: 461px;
            margin: 91px auto 0;
            display: flex;
            flex-flow: row wrap;
            justify-content: space-between;
            
            .DW-header{
                width: 100%;
                height: 32px;
                margin-bottom: 33px;
                text-align: center;
                @extend %Montserrat;
                font-weight: 700;
                font-size: 26px;
                word-spacing: 6px;
            }
            .DW-img{
                width: 300px;
                height: 400px;
                background-image: url(/images/DW1.png);
                display: flex;
                flex-flow: column-reverse wrap;
                align-items: center;

                &__button{
                    width: 70px;
                    height: 20px;
                    border-radius: 40px;
                    margin: 0 180px 24px 0;
                    background-color: #FF4E50;
                    @extend %Montserrat;
                    font-weight: 400;
                    font-size: 10px;
                    color: #fefefe;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    letter-spacing: 2.1px;
                }
                &__text1{
                    width: 250px;
                    @extend %Montserrat;
                    font-weight: 700;
                    font-size: 24px;
                    color: #fefefe;
                    margin-bottom: 26px;
                    word-spacing: 3px;
                }
                .t1{
                    margin-bottom: 20px;
                }
                &__text2{
                    width: 250px;
                    @extend %Roboto;
                    font-weight: 100;
                    font-size: 14px;
                    color: #fefefe;
                    margin-bottom: 20px;
                    word-spacing: -0.5px;
                }
            }
            .DW-img:nth-child(3){
                background-image: url(/images/DW2.png);
            }
            .DW-img:nth-child(4){
                background-image: url(/images/DW3.png);
            }
        }

        .partner-container{
            width: 940px;
            height: 361px;
            margin: 95px auto 0;
            display: flex;
            flex-flow: row wrap;
            justify-content: space-between;
            .partner-header{
                width: 100%;
                height: 32px;
                @extend %Montserrat;
                font-weight: 700;
                font-size: 26px;
                text-align: center;
                word-spacing: 3.6px;
                margin-bottom: 33px;
            }
            .p-box{
                width: 221px;
                height: 225px;
                display: flex;
                flex-flow: column wrap;
                align-items: center;
                margin-bottom: 35px;
                position: relative;

                &__img{
                width: 120px;
                height: 120px;
                border-radius: 50%;
                }
                &__s-img{
                    width: 32px;
                    height: 32px;
                    border-radius: 50%;
                    border: 5px solid #fefefe;
                    background-color: #FF4E50;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    position: absolute;
                    top: 83px;
                    right: 45px;
                }
                &__figcap{
                    width: 221px;
                    height: 88px;
                    text-align: center;
                    margin-top: 14px;
                    &_text1{
                        @extend %Montserrat;
                        font-weight: 700;
                        font-size: 14px;
                        margin-top: 6px;
                        letter-spacing: 0.4px
                    }
                    &_text2{
                        @extend %Roboto;
                        font-weight: 300;
                        font-size: 14px;
                        margin-top: 23px;
                    }
                }  
            }
            .p-button{
                width: 180px;
                height: 40px;
                background: #FFFFFF;
                border: 3px solid #FF4E50;
                border-radius: 40px;
                margin: 0 381px;
                @extend %Montserrat;
                font-weight: 700;
                font-size: 14px;
                color: #FF4E50;
            }
        }
             
        .ideas-container{
            width: 940px;
            height: 1031px;
            margin: 95px auto 0;
            display: flex;
            flex-flow: row wrap;
            justify-content: space-between;
            &__header{
                width: 100%;
                height: 32px;
                @extend %Montserrat;
                font-weight: 700;
                font-size: 26px;
                text-align: center;
                word-spacing: 6.5px;
                margin-bottom: 13px;
            }
            &__img{
                width: 300px;
                height: 310px;
                background-image: url(/images/i1.png);
                margin-top: 20px;
                @extend %Montserrat;
                font-weight: 700;
                font-size: 22px;
                color: #fefefe;
                display: flex;
                justify-content: center;
                align-items: center;
            }
            &__img:nth-child(3){
                background-image: url(/images/i2.png);
            }
            &__img:nth-child(4){
                background-image: url(/images/i3.png);
            }
            &__img:nth-child(5){
                background-image: url(/images/i4.png);
            }
            &__img:nth-child(6){
                width: 620px;
                background-image: url(/images/i5.png);
            }
            &__img:nth-child(7){
                width: 620px;
                background-image: url(/images/i6.png);
            }
            &__img:nth-child(8){
                background-image: url(/images/i7.png);
            }
        }

        .search-container{
            width: 482px;
            height: 158px;
            margin: 95px auto 0;

            &__header{
                width: 100%;
                height: 32px;
                @extend %Montserrat;
                font-weight: 700;
                font-size: 26px;
                text-align: center;
                margin-bottom: 49px;
            }
            &__text{
                @extend %Roboto;
                font-weight: 300;
                font-size: 18px;
                text-align: center;
                margin-bottom: 24px;
            }
            &__box{
                width: 100%;
                height: 40px;
                display: flex;
                justify-content: space-between;

                &_input{
                    width: 282px;
                    height: 34px;
                    border: 1px solid #D4D4D4;
                    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.073313);
                    border-radius: 3px;
                    @extend %Roboto;
                    font-weight: 300;
                    font-size: 14px;
                    color: #999999;
                    padding-left: 12px;
                }
                &_button{
                    width: 172px;
                    height: 38px;
                    background-color: #FF4E50;
                    border-radius: 40px;
                    border: 0px;
                    color: #fefefe;
                    margin-right: 2px;
                }
            }
        }
    }

    .footer{
        width: 1440px;
        height: 260px;
        border-top: 3px solid #FF4E50;
        position: relative;

        &__header{
            @extend %Montserrat;
            font-weight: 400;
            font-size: 16px;
            text-transform: uppercase;
            color: #FF4E50;
            position: absolute;
            top: 38px;
            left: 249px;
        }
        &__about{
            width: 120px;
            height: 175px;
            display: flex;
            flex-flow: column wrap;
            justify-content: space-between;
            position: absolute;
            top: 40px;
            left: 490px;

            &_header{
                @extend %Montserrat;
                font-weight: 700;
                font-size: 14px;
                margin-bottom: 5px
            }
            &_item{
                @extend %Roboto;
                font-weight: 300;
                font-size: 14px;
                text-decoration: none;
                color: #999999;
            }
        }
        &__partners{
            @extend %Montserrat;
            font-weight: 700;
            font-size: 14px;
            position: absolute;
            top: 40px;
            right: 650px;
        }
        &__designBy{
            width: 110px;
            height: 43px;
            display: flex;
            flex-flow: column wrap;
            justify-content: space-between;
            align-items: flex-end;
            @extend %Montserrat;
            font-weight: 700;
            font-size: 10px;
            color: #cccccccc;
            text-transform: uppercase;
            letter-spacing: 1px;
            position: absolute;
            top: 38px;
            right: 250px;
        }

    }
}