@import url(./fonts/fonts.css);
@import url(./reset.css);

@media screen and (max-width:784px){
    %Montserrat{
        font-family: 'Montserrat';
        font-style: normal;
    }
    %Roboto{
        font-family: 'Roboto';
        font-style: normal;
    }

    .body{
        width: 320px;
        margin: 0 auto;
    }
    .header{
        width: 320px;
        height: 540px;
        background-image: url(/images/HeaderBackground.png);
        background-position: center;
        @extend %Montserrat;
        color: #fefefe;
        position: relative;
        .dreamShare{
            position: absolute;
            top: 155px;
            left: 85px;
            text-transform: uppercase;
            font-weight: 700;
            font-size: 20px;
        }
        .logIn{
            position: absolute;
            top: 32px;
            left: 84px;
            font-weight: 400;
            font-size: 14px;
        }
        .signUp{
            width: 84px;
            height: 32px;
            border-radius: 40px;
            border: 2px solid white;
            display: flex;
            justify-content: center;
            line-height: 33px;
            position: absolute;
            top: 20px;
            right: 85px;
            font-weight: 400;
            font-size: 14px;
        }
        &__text1{
            text-align: center;
            @extend %Montserrat;
            font-weight: 700;
            font-size: 30px;
            line-height: 36px;
            letter-spacing: 0px;
            word-spacing: 3px;
            position: absolute;
            top: 204px;
            left: 26px;
        }
        &__text2{
            width: 236px;
            text-align: center;
            @extend %Roboto;
            font-weight: 300;
            font-size: 18px;
            line-height: 24px;
            position: absolute;
            top: 283px;
            left: 41px;
            word-spacing: 3.4px;
        }
        .findPartner{
            width: 280px;
            height: 40px;
            background: #FF4E50;
            border-radius: 40px;
            display: flex;
            justify-content: center;
            line-height: 40px;
            position: absolute;
            left: 21px;
            top: 347px;
            @extend %Montserrat;
            font-weight: 700;
            font-size: 14px;
            letter-spacing: 0.3px;
            border: 0px;
            color: #fefefe;
        }
    }

    .main{
        width: 320px;
        height: 3141px;
        .dreamWork-container{
            width: 300px;
            height: 785px;
            margin: 31px auto 0;
            display: flex;
            flex-flow: column wrap;
            justify-content: space-between;
            
            .DW-header{
                width: 100%;
                height: 32px;
                margin-bottom: 0px;
                text-align: center;
                padding-top: 5px;
                @extend %Montserrat;
                font-weight: 700;
                font-size: 22px;
                word-spacing: 6px;

            }
            .DW-img{
                width: 300px;
                height: 240px;
                border-radius: 5px;
                background-image: url(/images/DW1.png);
                background-position: center;
                display: flex;
                flex-flow: column-reverse wrap;
                align-items: center;

                &__button{
                    width: 70px;
                    height: 20px;
                    border-radius: 40px;
                    margin: 0 190px 45px 0;
                    background-color: #FF4E50;
                    @extend %Montserrat;
                    font-weight: 400;
                    font-size: 10px;
                    color: #fefefe;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    letter-spacing: 2.1px;
                }
                .b-2{
                    margin: 0 190px 28px 0;
                }
                &__text1{
                    width: 260px;
                    @extend %Montserrat;
                    font-weight: 700;
                    font-size: 24px;
                    line-height: 14px;
                    color: #fefefe;
                    margin-bottom: 26px;
                    word-spacing: 3px;
                }
                .t1-2{
                    margin-bottom: 26px;
                }
                &__text2{
                    width: 220px;
                    @extend %Roboto;
                    font-weight: 100;
                    font-size: 14px;
                    color: #fefefe;
                    margin: 0 40px 15px 0;
                    word-spacing: 0.7px;
                }
            }
            .DW-img:nth-child(3){
                background-image: url(/images/DW2.png);
            }
            .DW-img:nth-child(4){
                background-image: url(/images/DW3.png);
            }
        }

        .partner-container{
            width: 300px;
            height: 1051px;
            margin: 31px auto 0;
            display: flex;
            flex-flow: column wrap;
            align-items: center;
            justify-content: flex-start;

            .partner-header{
                width: 100%;
                height: 32px;
                @extend %Montserrat;
                font-weight: 700;
                font-size: 22px;
                line-height: 26px;
                text-align: center;
                word-spacing: 3.6px;
                margin-bottom: 35px;
                padding-top: 6px;
            }
            .p-box{
                width: 236px;
                height: 205px;
                display: flex;
                flex-flow: column wrap;
                align-items: center;
                margin: 0 6px 14px 0;
                position: relative;

                &__img{
                width: 120px;
                height: 120px;
                border-radius: 50%;
                }
                &__s-img{
                    width: 32px;
                    height: 32px;
                    border-radius: 50%;
                    border: 5px solid #fefefe;
                    background-color: #FF4E50;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    position: absolute;
                    top: 82px;
                    right: 50px;
                }
                &__figcap{
                    width: 240px;
                    height: 68px;
                    text-align: center;
                    margin-top: 14px;
                    &_text1{
                        @extend %Montserrat;
                        font-weight: 700;
                        font-size: 14px;
                        margin-top: 6px;
                        letter-spacing: 0.4px
                    }
                    &_text2{
                        @extend %Roboto;
                        font-weight: 300;
                        font-size: 14px;
                        margin-top: 23px;
                    }
                } 
            }
            .p-box-2{
                height: 225px;
            }
            .p-box-3-4{
                margin-bottom: 20px;
            }
            .p-button{
                width: 280px;
                height: 40px;
                background: #FFFFFF;
                border: 3px solid #FF4E50;
                border-radius: 40px;
                margin: 15px auto;
                @extend %Montserrat;
                font-weight: 700;
                font-size: 14px;
                color: #FF4E50;
            }
        }
             
        .ideas-container{
            width: 300px;
            height: 992px;
            margin: 15px auto 0;
            display: flex;
            flex-flow: column wrap;
            &__header{
                width: 200px;
                height: 32px;
                @extend %Montserrat;
                font-weight: 700;
                font-size: 22px;
                line-height: 26px;
                text-align: center;
                word-spacing: 6.5px;
                margin: 0 auto 44px;
                padding-top: 6px;
            }
            &__img{
                width: 300px;
                height: 120px;
                background-image: url(/images/i1.png);
                background-position: center;
                margin-top: 10px;
                border-radius: 5px;
                @extend %Montserrat;
                font-weight: 700;
                font-size: 22px;
                color: #fefefe;
                display: flex;
                justify-content: center;
                align-items: center;
            }
            &__img:nth-child(3){
                background-image: url(/images/i2.png);
            }
            &__img:nth-child(4){
                background-image: url(/images/i3.png);
            }
            &__img:nth-child(5){
                background-image: url(/images/i4.png);
            }
            &__img:nth-child(6){
                width: 300px;
                background-image: url(/images/i5.png);
            }
            &__img:nth-child(7){
                width: 300px;
                background-image: url(/images/i6.png);
                background-position: 0 0;

            }
            &__img:nth-child(8){
                background-image: url(/images/i7.png);
                background-position: 0 1;
            }
        }

        .search-container{
            width: 320px;
            height: 192px;
            margin: 29px auto 0;

            &__header{
                width: 250px;
                height: 32px;
                @extend %Montserrat;
                font-weight: 700;
                font-size: 22px;
                line-height: 26px;
                text-align: center;
                margin: 0 auto 40px;
                padding-top: 6px
            }
            &__text{
                @extend %Roboto;
                font-weight: 300;
                font-size: 18px;
                text-align: center;
                margin-bottom: 11px;
                word-spacing: 4.5px;
            }
            &__box{
                width: 100%;
                height: 90px;
                display: flex;
                flex-flow: column wrap;
                align-items: center;

                &_input{
                    width: 262px;
                    height: 36px;
                    border: 1px solid #D4D4D4;
                    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.073313);
                    border-radius: 3px;
                    @extend %Roboto;
                    font-weight: 300;
                    font-size: 14px;
                    color: #999999;
                    padding-left: 12px;
                    margin-bottom: 12px;
                }
                &_button{
                    width: 282px;
                    height: 38px;
                    background-color: #FF4E50;
                    border-radius: 40px;
                    border: 0px;
                    color: #fefefe;
                    margin-right: 2px;
                }
            }
        }
    }

    .footer{
        width: 320px;
        height: 226px;
        border-top: 3px solid #FF4E50;
        position: relative;

        &__header{
            @extend %Montserrat;
            font-weight: 400;
            font-size: 16px;
            text-transform: uppercase;
            color: #FF4E50;
            position: absolute;
            top: 20px;
            left: 100px;
        }
        &__about{
            width: 200px;
            height: 70px;
            display: flex;
            flex-flow: row wrap;
            justify-content: space-around;
            position: absolute;
            top: 52px;
            left: 59px;

            &_header{
                width: 100%;
                @extend %Montserrat;
                text-align: center;
                font-weight: 700;
                font-size: 14px;
                margin-bottom: 0px;
            }
            &_item{
                @extend %Roboto;
                font-weight: 300;
                font-size: 14px;
                text-decoration: none;
                color: #999999;
            }
        }
        &__partners{
            @extend %Montserrat;
            font-weight: 700;
            font-size: 14px;
            position: absolute;
            bottom: 83px;
            right: 128.5px;
            letter-spacing: 0.5px;
        }
        &__designBy{
            width: 110px;
            height: 43px;
            padding-top: 4px;
            display: flex;
            flex-flow: column wrap;
            justify-content: space-between;
            align-items: center;
            @extend %Montserrat;
            font-weight: 700;
            font-size: 10px;
            color: #cccccccc;
            text-transform: uppercase;
            letter-spacing: 1px;
            position: absolute;
            bottom: 24px;
            right: 105px;
        }

    }
}